.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 0.25rem;
}

.card .card-header {
  background-color: #fff;
  border-bottom: none;
}

.cursor-pointer {
  cursor: pointer;
}
.bg-gray {
  background: #e0dede;
}
.nav-link {
  /* text-decoration: none; */
  color: black;
}
.nav-btn {
  border-radius: 20px;
  border: none;
  padding: 4px 10px;
  /* color: #e0dede; */
  font-weight: 600;
  margin: 0 3px;
}
.bg-pink {
  background: pink;
  color: black;
  padding: 5px 15px;
}
.bg-yellow {
  background: rgb(255, 216, 98);
  padding: 5px 15px;
}
.bg-green {
  background: green;
  padding: 5px 25px;
}
.btn-box {
  align-items: end;
}
.bold {
  font-weight: 700;
  margin: 0 10px;
}
.question {
  /* height: 20px; */
  /* background: rgb(191, 42, 42); */
  padding: 10px;
  border: 1px solid rgb(215, 214, 214);
  border-radius: 2px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  position: sticky;
  top: 0;
}
.title2 {
  position: sticky;
  top: 158px;
  background: #fff;
}
.big-Screen {
  display: none;
}
.icon-flex {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 670px) {
  /* .big-Screen{
    display: flex;
  } */
  .small-screen-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .small {
    display: none;
  }
  .small-screen {
    display: flex;
    align-items: center;
    /* padding-left: 5px; */
  }
  .small-hover {
    background: rgb(251, 252, 251);
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin: 0 15px;
  }
  .small-hover:hover {
    background: green;
    color: #fff;
    height: 100px;
    width: 100px;
  }
  .congrats h1{
		font-size:1em;
	}
	
	.congrats .hide{
		display:none;
	}
	
	.congrats{
		width:100%;
	}
	
	.done{
		top:-10px;
		width:50px;
		height:50px;
	}
	.regards{
		font-size:0.55em;
	}
}



.contain{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: linear-gradient(90deg,#189086,#2f8198);
background-image: linear-gradient(to bottom right,#02b3e4,#02ccba);	
}

.done{
	width:100px;
	height:100px;
	position:relative;
	left: 0;
	right: 0;
	top:20px;
	margin:auto;
}
.contain h1{
	font-family: 'Julius Sans One', sans-serif;
	font-size:1.4em;
	color: #02b3e4;
  margin-top: 10px;
}
.contain h3{
	font-family: 'Julius Sans One', sans-serif;
	font-size:1.0em;
	color: #02b3e4;
  margin-top: 15px;
}
.try-again{
  font-size: 0.8em;
}
.congrats{
	position:relative;
	left:50%;
	top:50%;
	max-width:800px;	transform:translate(-50%,-50%);
	width:80%;
	min-height:300px;
	max-height:900px;
	border:2px solid white;
	border-radius:5px;
	    box-shadow: 12px 15px 20px 0 rgba(46,61,73,.3);
    background-image: linear-gradient(to bottom right,#02b3e4,#02ccba);
	background:#fff;
	text-align:center;
	font-size:2em;
	color: #189086;
}

.text{
	position:relative;
	font-weight:normal;
	left:0;
	right:0;
	margin:auto;
	width:80%;
	max-width:800px;
color: black;
	font-family: 'Lato', sans-serif;
	font-size:0.6em;

}


.circ{
    opacity: 0;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.tick{
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    -webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
    -moz-transition: stroke-dashoffset 1s 0.5s ease-out;
    -ms-transition: stroke-dashoffset 1s 0.5s ease-out;
    -o-transition: stroke-dashoffset 1s 0.5s ease-out;
    transition: stroke-dashoffset 1s 0.5s ease-out;
}
.drawn svg .path{
    opacity: 1;
    stroke-dashoffset: 0;
}

.regards{
	font-size:.7em;
}






